@media (max-width:768px){

  .container{
    flex-direction:column;
  }

  .column{
    width:100%;
  }

  .box{
    width:90% !important;
  }

  .big,
  .medium,
  .tiny{
    width:90%;
    height:120px;
  }

  .modal-content{
    width:90%;
  }

  .language-list{
    position:fixed;
    left:0;
    right:0;
    bottom:-100%;
    top:auto;
    width:100%;
    height:75vh;
    border-top:8px solid yellow;
    border-radius:20px 20px 0 0;
    transition:bottom 0.3s ease;
    padding-top:20px;
  }

  .language-list.show{
    display:flex;
    bottom:0;
  }
}
